<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>  

    <h2 align="center">Trainer's Schedule </h2>
    <div class="container" style="max-width:1200px;padding:40px 20px;background:#ebeff2" align="center">
     
      <form class="form-horizontal" role="form" action="/action_page.php">
        <div class="row row-cols-3 pt-3">
          <div class="col text-end">
            <label for="trainerid" class ="control-label col-sm-3"> Trainer ID:</label>
          </div>
        <div class="col-4">
            <input type="text" class="form-control" id="trainerid"  name="nameVariable" >
        </div>
        </div>
        <div class="row row-cols-3 pt-3">
          <div class="col text-end">
              <label for="trainerid" class ="control-label col-sm-4"> Trainer Name:</label>
            </div>
            <div class="col-4">
              <label for="trainerid"  name="nameVariable"></label>{{trainer.name}}
          </div>
          </div>
              
          <div class="row row-cols-3 pt-3">
              <div class="col text-end">
                  <label for="trainerid" class ="control-label col-sm-4">Batch Name:</label>
              </div>
              <div class="col-4">
                <label for="trainerid"  name="nameVariable"></label>{{trainer.batchname}}
              </div>
            </div>
              <div class="row row-cols-3 pt-3">
                  <div class="col text-end">
                      <label for="trainerid" class ="control-label col-sm-4"> Domain:</label>
                    </div>
                    <div class="col-4">
                      <label for="trainerid"  name="nameVariable"></label>{{trainer.domain}}
                  </div>
                  </div>
                  <div class="row row-cols-3 pt-3">
                      <div class="col text-end">
                          <label for="trainerid" class ="control-label col-sm-4"> Subject:</label>
                        </div>
                        <div class="col-4">
                          <label for="trainerid"  name="nameVariable"></label>{{trainer.subject}}
                      </div>
                      </div>
                      <div class="row row-cols-3 pt-3">
                          <div class="col text-end">
                              <label for="trainerid" class ="control-label col-sm-4"> Start Date:</label>
                            </div>
                            <div class="col-4">
                              <label for="trainerid"  name="nameVariable"></label>{{trainer.stime}}
                          </div>
                          </div>
                          <div class="row row-cols-3 pt-3">
                              <div class="col text-end">
                                  <label for="trainerid" class ="control-label col-sm-4"> End Date:</label>
                                </div>
                                <div class="col-4">
                                  <label for="trainerid"  name="nameVariable"></label>{{trainer.etime}}
                              </div>
                              </div>
                              <div class="text-center" >
                                <button  type="submit" class="btn btn-primary">UPDATE</button>
                                                   
                               </div>
                          </form>
                      </div>
                     
                      <div class=" tbn">
                      <a class="btn btn-primary" routerLink='/home' role="button">BACK</a>
                      </div>
   
  
  </body>
