<body>
<h2 class="text-center" style="color: brown;">"From a tiny spark may burst a mighty flame" – Dante</h2>
<div class="div1">
<H4 style="color: red;">Mission</H4>
<p>The primary aim of WinVinaya Foundation is to enable Persons with Disabilities (PWD), economically disadvantaged candidates and women with life skills and resources so that they can get a job and lead a life with dignity.</p>

<h4 style="color: red;">Genesis</h4>
<p>In 2016, Shiva Jayagopal a Veteran in IT Industry who loves Coaching and Akila Sankar, a special educator with extensive experience working with Persons with Disabilities, who believes that “Anyone can learn” with the right methodology, decided to bring together both their strengths to Train Persons with Disabilities in IT Skills and place them in companies. WinVinaya Foundation was started in their home with few computers and few students. In just few years, WinVinaya Foundation trained hundreds of students across a wide range of disabilities and added more courses. The founders believe that this is just the beginning and with the collaboration with well-wishers and right partners, we can impact lives of millions of Persons with Disabilities.</p>
</div>
<div class="coursol">
    <!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/ap1.jpg" alt="Soft skills training by Mr.Bharath Ram DXC" class="d-block" style="width:80%">
      </div>
      <div class="carousel-item">
        <img src="assets/ap2.jpg" alt="CEO of winvinaya foundation" class="d-block" style="width:100%">
      </div>
      <div class="carousel-item">
        <img src="assets/ap3.jpg" alt="New York" class="d-block" style="width:100%">
      </div>
    </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  
</div>
</body>