<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>  

    <h2 align="center">Update New Trainer's Schedule </h2>
    <div class="container" style="max-width:1200px;padding:40px 20px;background:#ebeff2" align="center">
     
      <form class="form-horizontal" role="form" action="/action_page.php">
        <div class="row row-cols-3 pt-3">
          <div class="col text-end">
            <label for="trainerid" class ="control-label col-sm-3"> Trainer ID:</label>
          </div>
        <div class="col-4">
            <input type="text" class="form-control"   name="id" [(ngModel)]="currentForm.id">
        </div>
        </div>
      <div class="row row-cols-3 pt-3">
        <div class="col text-end">
          <label for="email" class ="control-label col-sm-4">Trainer Name:</label>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" id="email"  name="name" [(ngModel)]="currentForm.name">
        </div>
      </div>
      <div class="row row-cols-3 pt-3">
          <div class="col text-end">
            <label for="email" class ="control-label col-sm-3">Batch Name:</label>
          </div>
        <div class="col-3">
          <select id="lang" style="width:368px" name="batchname" [(ngModel)]="currentForm.batchname">
            <option value="select">Select a batch</option>
            <option value="itfs">ITFS</option>
            <option value="bnk">BNK</option>
            <option value="acc">Financial account</option>
            <option value="acc">Soft Skils</option>
          </select>
        </div>
        </div>
         
          <div class="row row-cols-3 pt-3">
            <div class="col text-end">
                <label for="nameVariable" class="form-label">Domain:</label>
            </div>
            <div class="col-4">
              <select name="domain" style="width:368px"[(ngModel)]="currentForm.domain">
                <option value="select">Select a domain</option>
                <option value="IT">IT</option>
                <option value="Non IT">Non IT</option>
                <option value="BPA">BPA</option>
                <option value="Others">Others</option>
                </select>
            </div>
        </div>
          <div class="row row-cols-3 pt-3">
            <div class="col text-end">
            <label for="nameVariable" class ="form-label">Subject:</label>
          </div>
        <div class="col-4">
          <select name="subject" style="width:368px" [(ngModel)]="currentForm.subject">
            <option value="select">Select Subject</option>
            <option value="Java">Java</option>
            <option value="MySQL">MYSQL</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Angular">Angular</option>
            <option value="SpringBoot">SpringBoot</option>
            <option value="MS Office">MS Office</option>
            <option value="SoftSkills">SoftSkills</option>
            <option value="English">English</option>
            <option value="PowerBi">Powerbi</option>
            <option value="power Automation">PowerAutomation</option>
            </select>
        </div>
          </div>
          
          <div class="row row-cols-3 pt-3">
            <div class="col text-end">
                <label for="nameVariable" class="form-label">Start Date:</label>
            </div>
            <div class="col-4">
                <input type="date" class="form-control" name="stime" [(ngModel)]="currentForm.stime">
            </div>
        </div>
        <div class="row row-cols-3 pt-3">
          <div class="col text-end">
              <label for="nameVariable" class="form-label">End Date:</label>
          </div>
          <div class="col-4">
              <input type="date" class="form-control" name="etime" [(ngModel)]="currentForm.etime" >
          </div>
      </div>
            <br>
  
         
            <div class="text-center" >
             <button  type="button" class="btn btn-primary" (click)="updateTutorial()" routerLink="/allview">UPDATE</button>
             <a class="btn btn-danger" routerLink='/allview' role="button">CANCEL</a>
    <p>{{ message }}</p>
        
            </div>
         
      </form>
    </div>
   
    </body>
  